// .background { 
//     width: 100%;
//     height: 100%;
//     background: url('../../assets/images/ITnew.jpg') no-repeat center center; 
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }

.load {
    animation: slide 2sec;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 9s infinite;
}

h1  {
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-family: 'Creepster';
    color: orangered;
    text-align: center;
}

@keyframes slide {
    0% {
        background-image: url('../../assets/images/ITnew.jpg');
    }
    33% {
        background-image: url('../../assets/images/ITnew.jpg');
    }
    34% {
        background-image: url('../../assets/images/krusty-simpsons.jpg');
    }
    66% {
        background-image: url('../../assets/images/krusty-simpsons.jpg');
    }
    67% {
        background-image: url('../../assets/images/ITold.jpg');
    }
    100% {
        background-image: url('../../assets/images/ITold.jpg');
    }
}
